:root {
  --color-fondo: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  --color-titulo: #fb8500;
  --color-input: #023047;
  --color-secundario: #fff;
  --color-boton: #219ebc;
  --borde-form: #8ecae6;
  --color-form: #219ebc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--color-fondo);
}
img {
  width: 20%;
  padding: 0%;
  display: block;
  margin: auto;
  text-align: center;
}

form {
  text-align: center;
  border: 4px solid var(--borde-form);
  font-family: "Anton", sans-serif;
  background-color: var(--color-form);
  margin: -22px 416px;
  padding: 25px;
}

h1 {
  text-align: center;
  color: var(--color-titulo);
  font-family: "Anton", sans-serif;
  margin-top: 155px;
  margin-bottom: -33px;
}

input:focus,
select:focus {
  background-color: var(--color-input);
  color: var(--color-secundario);
}

button {
  background-color: var(--color-input);
  color: var(--color-secundario);
  cursor: pointer;
}

input,
select,
button {
  padding: 10px;
}

#cantidad,
#resultados {
  margin: 5px;
  padding: 8px;
}
